<h2>Reactivos: <small> Dinámicos </small></h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre de la persona"
        formControlName="name"
      />
      @if (formUtils.isVerifield(myForm,"name")) {
      <span class="form-text text-danger">
        <!-- Debe de ser de 3 letras -->
        {{ formUtils.getFiedErrors(myForm, "name") }}
      </span>
      }
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Agregar favorito"
          [formControl]="newMyForm"
          (keyup.enter)="addFavoriteGame($event)"
        />

        <button
          (click)="addFavoriteGame($event)"
          class="btn btn-outline-primary"
          type="button"
        >
          Agregar favorito
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoriteGames">
      @for (favoriteGame of favoriteGames.controls; track $index; let i =
      $index) {
      <div class="mb-1">
        <div class="input-group">
          <input class="form-control" [formControlName]="i" />

          <button
            class="btn btn-outline-danger"
            (click)="onDeleteFavorite(i)"
            type="button"
          >
            Eliminar
          </button>
        </div>
        @if(formUtils.isVerifieldArray(favoriteGames, i)) {
        <span class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
          {{ formUtils.getFieldErrorsArray(favoriteGames, i) }}
        </span>
        }
      </div>
      } @if(formUtils.isVerifield(myForm,"favoriteGames")) {
      <span class="form-text text-danger">
        <!-- Debe de ser de 3 letras -->
        <!-- {{ formUtils.getFieldErrorsGroupArray(myForm, "favoriteGames") }} -->
        Se requiere al menos tres juegos favoritos
      </span>
      }
    </div>
  </div>
  <!-- Lista de Juegos Favoritos -->

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br />

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />

<!-- <span>Agregar Juego</span>
<pre>{{  | json }}</pre>
<pre>{{ "object" | json }}</pre> -->
